* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* header */
header {
  background-color: rgb(23, 23, 23);
  color: rgb(236, 232, 232);
}

/* nav bar */
header nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.centertopbottom {
  max-width: 1000px;
  margin: auto;
}

.logo {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: rgb(236, 232, 232);
  text-decoration: 0;
}

ul {
  list-style: none;
  display: flex;
}

ul li a {
  color: rgb(236, 232, 232);
  padding: 10px;
  text-decoration-thickness: 0;
  text-decoration-color: rgba(236, 232, 232, 0.317);
}

/* hero title */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.space-hero {
  padding: 75px 0 125px 0;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
}

.p-title {
  font-weight: 500;
  font-size: large;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 55px;
  font-family: "Open Sans", sans-serif;
}

.desc {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 300;
}

/* boutton */
.btn {
  padding: 20px 50px;
  background-color: rgb(236, 232, 232);
  width: fit-content;
  color: rgb(23, 23, 23);
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: all ease 300ms;
  border: 1px solid rgb(236, 232, 232);
}

.btn-space {
  margin-top: 30px;
}

.btn:hover {
  background-color: transparent;
  color: rgb(236, 232, 232);
}

/* section services */
.center {
  max-width: 900px;
  margin: auto;
  padding: 75px 0;
}

h2 {
  text-align: center;
  padding: 25px 0;
  font-weight: 600;
}

.card-projet {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  margin-top: 50px;
  padding: 25px;
}

.projet-center h3 {
  font-size: 25px;
}

.projet {
  width: 100px;
  text-align: center;
}

.container-padding {
  gap: 60px;
}

/* section sponsor */
#sponsor {
  background-color: rgb(23, 23, 23);
}

.sponsor-space {
  gap: 125px;
}

/* section réalisation */
.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  max-width: 275px;
  max-height: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card img {
  max-width: 275px;
  max-height: 275px;
}

.card div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* section temoignage */
.gap {
  gap: 20px;
}

.card-temoignage {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 215px;
  max-height: 390px;
  background-color: rgb(237, 237, 237);
  padding: 25px;
}

.cat-pfp {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
}

.coms-align {
  display: flex;
  gap: 10px;
}

.card-temoignage p span {
  font-weight: 500;
}

.stars img {
  max-width: 20px;
  max-height: 20px;
}

.text-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* footer */
#footer {
  background-color: rgb(23, 23, 23);
  color: rgb(236, 232, 232);
  padding-bottom: 75px;
}

.footer-spacing {
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-side {
  width: 425px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  width: 100%;
  padding: 12px 20px;
}

form button {
  cursor: pointer;
  margin-top: 10px;
}

.footer-side p {
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 25px;
}

.icons {
  display: flex;
  gap: 25px;
}

.icons i {
  font-size: 20px;
}

@media (max-width:768px) {
  header, section {
    padding: 0 10px;
  }

  #hero-title img {
    display: none;
  }

  .wrap {
    gap: 75px;
  }

  .footer-spacing {
    gap: 50px;
  }
}